apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: ghcr.io/hitchai-app/inference-backend
    newTag: stage-c571d2b4c535ffb4ed6536794e8e8d88cd415861
