apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingressroute.yaml

patches:
  - path: deployment-patch.yaml

images:
  - name: ghcr.io/hitchai-app/platform-backend
    newTag: stage-1f9ed8a77f505910ef0baf1af93da3283871b0f2
