apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cors-headers
  namespace: steady-prod
spec:
  headers:
    accessControlAllowOriginList:
      - "https://app.steady.ops.last-try.org"
      - "https://miniapp.steady.ops.last-try.org"
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "PATCH"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "Content-Type"
      - "Authorization"
      - "X-Requested-With"
      - "X-CSRF-Token"
    accessControlAllowCredentials: true
    accessControlMaxAge: 86400
