apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- database.yaml
- deployment.yaml
- service.yaml
# Temporarily commented to allow ArgoCD sync (Job immutability issue)
# Re-enable after deployment syncs successfully
# - migration-job.yaml
- ingress.yaml
